@{
    ViewData["Title"] = "Herupu Home";
}

<div class="text-center">
    <h3><strong>Herupu - Área Administrativa</strong></h3>
    <p>Bem vindo a àrea administrativa. Aqui você poderá gerenciar os planos de aprendizado, atividades, alunos e acompanhar o desenvolvimento da criança.</p>
    <p>Juntos construindo uma base sólida de alfabetização e aprendizado para as crianças do Brasil.</p>
</div>
