@{
    ViewData["Title"] = "Herupu Histórico";
}

<div class="text-center">
    <h3><strong>Histórico do aluno - Em construção</strong></h3>
    <p>Em breve você poderá por aqui acompanhar o desenvolvimento da criança.</p>
</div>
